body {
  background-color: black;
}
h1 {
  color: aliceblue;
}

div {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: brown;
  text-align: center;
  margin: 100px auto;
  font-size: 22px;
  font-weight: bold;
}
